<article class="doc">
{{#if (ne page.url page.latest.url)}}
<div class="admonitionblock important">
  <table>
    <tbody><tr>
      <td class="icon">
        <i class="fa icon-important" title="Important"></i>
      </td>
      <td class="content">
        <div class="paragraph">
          <p>There is a newer version available. Please update to <a href="{{{relativize ./page.latest.url}}}">{{page.component.title}} {{page.latest.displayVersion}}</a>!</p>
        </div>
      </td>
    </tr></tbody>
  </table>
</div>
{{/if}}
{{#with page.title}}
<h1 id="page-title" class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
</article>
